<h1>New Job Type</h1>

<%= render 'form', job_type: @job_type %>


<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  job_types_path, class: "btn waves-effect waves-light grey" %> 