<p id="notice"><%= notice %></p>

<p>
  <strong>Job type description:</strong>
  <%= @job_type.job_type_description %>
</p>

<%= link_to 'Edit', edit_job_type_path(@job_type) %> |
<%= link_to 'Back', job_types_path %>
