<h1>New Job Note</h1>

<%= render 'form', job_note: @job_note %>


<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  job_notes_path, class: "btn waves-effect waves-light grey" %> 