<p id="notice"><%= notice %></p>

<p>
  <strong>Rental description:</strong>
  <%= @rentalequipment.rental_description %>
</p>

<%= link_to 'Edit', edit_rentalequipment_path(@rentalequipment) %> |
<%= link_to 'Back', rentalequipments_path %>
