<h1>Editing Employee</h1>

<%= render 'form', employee: @employee %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @employee, class: "btn waves-effect waves-light grey" %> 