<h1>New Employee</h1>

<%= render 'form', employee: @employee %>


<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  employees_path, class: "btn waves-effect waves-light grey" %> 