<h1>Editing Project Status</h1>

<%= render 'form', project_status: @project_status %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @project_status, class: "btn waves-effect waves-light grey" %> 