

<p>
  <strong>Project Status Description:</strong>
  <%= @project_status.project_status_description %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  project_statuses_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_project_status_path(@project_status), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%#= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @project_status, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
