<h1>Editing Subcontractor Status</h1>

<%= render 'form', subcontractor_status: @subcontractor_status %>

<%= link_to 'Show', @subcontractor_status %> |
<%= link_to 'Back', subcontractor_statuses_path %>
