<p id="notice"><%= notice %></p>

<p>
  <strong>Subcontractor status description:</strong>
  <%= @subcontractor_status.subcontractor_status_description %>
</p>

<%= link_to 'Edit', edit_subcontractor_status_path(@subcontractor_status) %> |
<%= link_to 'Back', subcontractor_statuses_path %>
