

<p>
  <strong>Subcontractor status description:</strong>
  <%= @subcontractor_status.subcontractor_status_description %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  subcontractor_statuses_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_subcontractor_status_path(@subcontractor_status), class: "btn waves-effect waves-light" %> 
<%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @subcontractor_status, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %>
