<h1>Editing Subcontractor</h1>

<%= render 'form', subcontractor: @subcontractor %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @subcontractor, class: "btn waves-effect waves-light grey" %> 