<h1>New Subcontractor</h1>

<%= render 'form', subcontractor: @subcontractor %>


<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  subcontractors_path, class: "btn waves-effect waves-light grey" %> 