<h1>New Project Note</h1>

<%= render 'form', project_note: @project_note %>


<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  project_notes_path, class: "btn waves-effect waves-light grey" %> 