<h1>Editing Task Status</h1>

<%= render 'form', task_status: @task_status %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @task_status, class: "btn waves-effect waves-light grey" %> 