

<h1>Task Statuses</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Task Status"), new_task_status_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :task_status_description) %></th>

    </tr>
  </thead>

  <tbody>
    <% @task_statuses.each do |task_status| %>
      <tr data-link=" <%= task_status_path(task_status) %>" >
        <td><%= task_status.task_status_description %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
</script>