<h1>Editing Project Type</h1>

<%= render 'form', project_type: @project_type %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @project_type, class: "btn waves-effect waves-light grey" %> 