<p id="notice"><%= notice %></p>

<p>
  <strong>Project type description:</strong>
  <%= @project_type.project_type_description %>
</p>

<%= link_to 'Edit', edit_project_type_path(@project_type) %> |
<%= link_to 'Back', project_types_path %>
