<p id="notice"><%= notice %></p>

<p>
  <strong>Project type description:</strong>
  <%= @projecttype.project_type_description %>
</p>

<%= link_to 'Edit', edit_projecttype_path(@projecttype) %> |
<%= link_to 'Back', projecttypes_path %>
