<p id="notice"><%= notice %></p>

<p>
  <strong>Project status description:</strong>
  <%= @projectstatus.project_status_description %>
</p>

<%= link_to 'Edit', edit_projectstatus_path(@projectstatus) %> |
<%= link_to 'Back', projectstatuses_path %>
