<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @customer, class: "btn waves-effect waves-light grey" %> 