<h1>Editing Rental List</h1>

<%= render 'form', rental_list: @rental_list %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @rental_list, class: "btn waves-effect waves-light grey" %> 