<h1>Editing Rental Equipment</h1>

<%= render 'form', rental_equipment: @rental_equipment %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  rental_equipments_path, class: "btn waves-effect waves-light grey" %> 