<h1>New Material List</h1>

<%= render 'form', material_list: @material_list %>


<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  material_lists_path, class: "btn waves-effect waves-light grey" %> 