

<p>
  <strong>Employee type description:</strong>
  <%= @employee_type.employee_type_description %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  employee_types_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_employee_type_path(@employee_type), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%#= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @employee_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
