/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require select2
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import 'materialize';
 @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
 @import 'select2-materialize.scss';
 @import 'unobtrusive_flash_ui';

.ilike-blue-container {
  @extend .blue-text, .text-lighten-4;
}

 #nested-fields {
    border: solid 3px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#unobtrusive-flash-messages .unobtrusive-flash-message-wrapper {
  padding: 10px 0;
  background: rgb(212, 237, 218);
  color: rgb(21,87,36);
  opacity: 1;
}

#unobtrusive-flash-messages .unobtrusive-flash-message-wrapper.unobtrusive-flash-error {
  background: rgb(248, 215, 218);
  color: rgb(114,28,36);
}

textarea{
  width: 100%!important;
}

.navbar{
    margin-bottom: 15px;
}

//form errors
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  
  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }
  
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 100%;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }
  
  #error_explanation ul li {
    font-size: 100%;
    list-style: square;
  }
//end form errors

.hide {
  display: none;
}