/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require select2
 */

 @import "materialize/components/color-variables"; //load these custom color variables BEFORE importing materialize!!
  $primary-color: #0d47a1 !default; //navbar like stuff
  $secondary-color: #1976d2 !default; //input and buttons and such"
 @import 'materialize';
 @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; //icons for materialize
 @import 'select2-materialize.scss'; //for select2 dropdown boxes styling

 #nested-fields { //default cocoon id
  margin-bottom: 10px;
}

#task-fields{ //nested task field inside of project>job
  border-left: solid #82b1ff;
  padding: 10px;
  margin-bottom: 10px;
  margin-left:50px;
}

#toast-container { //success or invalid message position
  top: 7% !important;
  right: 35% !important;
  left: 35%;
}

select.select2 { 
  display: block;
}

.form-control.select2-hidden-accessible {
  top: 350px;
}

.contenedor-select2 {
position: relative;
}

textarea{ //fixes textareas having a weird width and exceeding nested forms
  width: 100%!important;
}

.modal { //makes it so stuff like a whole ass select box is not hidden
  overflow: visible;
}

.navbar{ 
    margin-bottom: 15px;
}

body {
  padding-bottom: 5rem;
}

//form errors
.field_with_errors label {
    color: #F44336;
  }
  
  #error_explanation {
    width: 450px;
    border: 2px solid #F44336;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }
  
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 100%;
    margin: -7px -7px 0;
    background-color: #d32f2f ;
    color: #fff;
  }
  
  #error_explanation ul li {
    font-size: 100%;
    list-style: square;
  }
//end form errors
