<h1>Editing Material</h1>

<%= render 'form', material: @material %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  materials_path, class: "btn waves-effect waves-light grey" %> 