

<p>
  <strong>Material Description:</strong>
  <%= @material.material_description %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  materials_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_material_path(@material), class: "btn waves-effect waves-light" %> 