<h1>Report12</h1>
<p id="notice"><%= notice %></p>

<h2>Show Projects with a certain job type</h2>

<table class="table">
  <thead>
  <tr>
    <th>Project ID</th>
    <th>Job Type Description</th>
    <th>Task Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @alltask_job.each do |tasklist| %>
      <tr>
        <td><%= tasklist['project_id'] %></td>
        <td><%= tasklist['job_type_description'] %></td>
        <td><%= tasklist['task_description'] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
