<h1>Editing Job Status</h1>

<%= render 'form', job_status: @job_status %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @job_status, class: "btn waves-effect waves-light grey" %> 