

<p>
  <strong>Job Status Description:</strong>
  <%= @job_status.job_status_description %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  job_statuses_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_job_status_path(@job_status), class: "btn waves-effect waves-light" %> 