<p id="notice"><%= notice %></p>

<p>
  <strong>Job status description:</strong>
  <%= @job_status.job_status_description %>
</p>

<%= link_to 'Edit', edit_job_status_path(@job_status) %> |
<%= link_to 'Back', job_statuses_path %>
